<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Label="Unity location">
    <UnityPath>\Applications\Unity\Unity.app\Contents\</UnityPath>
  </PropertyGroup>
  <ItemGroup Label="Where to copy output">
    <UnityProjectPath Include=" Unity Project path" />
  </ItemGroup>
</Project>